
    <div class="description">
        <mat-card>
            <mat-card-header>
                <mat-card-title>About</mat-card-title>
            </mat-card-header>
        <h1> Project Description </h1>
            <p>This is a device manager for SiLA2 laboratory devices. SiLA2 servers that are registered in the network
                (<a href="https://github.com/jstasiak/python-zeroconf" title="Link to the GitHub repository
                of python-zeroconf" target="_blank">python-zeroconf</a>) can be automatically detected and added to the manager. The interactive feature browser displays all
                implemented features and functions of the device and allows the execution of commands from the browser.
            </p>
            <p>
                This IoT application for SiLA devices is aimed at everybody who is working in a modern laboratory and is
                interested in lab automation. This is for you, if you're new to SiLA2 and want to play around with your
                HelloSiLA_server or if your're more advanced and plan on connecting your existing devices and establishing
                a simple workflow using the device manager scripting environment. Lorem Ipsum... more general prose to
                make BMBF, Prof. Weuster-Botz and potential users happy.
            </p>

        <h2>Devices overview</h2>
            <p>The <a [routerLink]="''"> Devices Overview </a> shows all devices that have been added to the device manager.
                New devices can be added either by using the auto-discovery feature or by manually supplying the connection
                details. By clicking on the <mat-icon title="Info button" style="font-size: 16px; padding: 0 2px;">info
                </mat-icon>-icon of one of the devices, a more detailed view pops up. In this view you can browse the
                devices features and discover the implemented functions of that SiLA device. You can even execute
                commands and interact with your device directly from there without any additional programming. The list
                view of the items displays the most important attributes of the devicesw servers such as the connection
                detail, availability and whether the server is connected or not.
            </p>
        <h2>Schedule</h2>
            <p>
                The <a [routerLink]="'/scheduler'"> Schedule </a> view shows the calendar that is served by the backend scheduler.
                The scheduler manages bookings of devices in the backend and stores that information in a database.
                Reservations can be made manually by a user or indirectly by an experiment (user script). A booking will
                block a device from being accessed from other sources or users through the device manager. When a device
                is marked as busy, only the user that booked the device or started the script that made the reservation,
                will be allowed to send commands to that device through the device detail view. The same holds true for
                data management. Database settings of devices that are booked are restricted.
            </p>
        <h2>Experiments</h2>
            <p>In the <a [routerLink]="'/experiments'"> Experiments </a> view, the user can start adn schedule experiments based on
                provided user scripts (Python 3.6+). Dispatched experiments will reserve the devices for the respective
                time period and prevent other users from accessing them for that duration. On top of that, a user can
                make manual reservations. Clicking on an existing triggers a pop-up that displays further information.
            </p>
        <h2>My Scripts</h2>
            <p>The user can upload python scripts for later use as experiments in the <a [routerLink]="'/scripts'"> My Scripts
            </a> section. Although the execution of a script is triggered from the "Experiments view", scripts are
                managed in this section. Devices that are used by the script must be declared in the first line of the
                code. Once declared, the devices can be used as if imported and can be used as objects by their specified
                name. if the name is unclear, check the "Devices Overview"! This process works by injecting the relevant
                import statements of the used device clients into the script.
            </p>
            <p>
                Whenever a script is executed, it is accompanied by an initialization script and a termination script.
                These scripts can be written by an admin user when adding a new device or can be changed at a later stage
                in the script list in this view. These scripts are not obligatory and experimental scripts can be run
                even without them. However, it is recommended to implement them to ensure defined starting conditions when
                addressing a device. Some settings may conflict with what is stated in the user script and may lead to
                script failure. In case of a script failure and at the end of an experiment, the termination script will
                execute the commands to reset the device to its default behaviour. In case of delicate equipment, this can
                prevent damage.
            </p>
        <h2>Data Handler</h2>
            <p>Whenever laboratory equipment is run, data is generated. Data integrity ("Fair data") is becoming
                increasingly important in the industrial as well as the academic work environment. The device manager
                offers database integration that will make it easy to harness all information produced during an experiment.
                Database configuration and individual settings for eachd evice can be done in the <a [routerLink]="'/dataHandler'">
                    Data Handler </a> view. We differentiate between data and meta-data. Meta data is as important as normal
                process data. It is necessary to put the recorded data in perspective, especially for people who didn't
                perform the experiment themselves. Hence, meta-data should be captured. The problem that arises is: How
                do we tell the difference between data and meta-data? In the device detail view of the data-handler, the
                user can set checkboxes to do this. Furthermore, all SiLA_Service functions are automatically marked as
                'meta-data'.
            </p>
            <p>
                Polling intervals of data and meta-data can be specified in the device detail view of the Data Handler
                tab if the default values of 30s and 1h respectively do not fit the task at hand. A configuration file
                with the specified polling intervals of each function of a device will be generated in the local tmp
                folder. There is the option to export and import these files to make life easier. In case specific
                experiments require a specific interval configuration, a configuration file can be supplied.
            </p>
        <h2>Log</h2>
            <p>The <a [routerLink]="'/log'"> Log </a> view displays the logging information of the backend server. All classes
                of logging statements (INFO, WARNING, CRITICAL, ERROR) are shown. A selection menu helps the user to
                narrow down the shown logging statements by specifying the time and kind of the statement.
            </p>
        <h1> About Us </h1>
            <p>DigInBio, Digitalization and Automation of Laboratory devices, Interdisciplinary Project (IDP), Institute of Biochemical Engineering, Master Computer Science</p>
        <h2> Authors and Affiliations </h2>
            <mat-list>

                <mat-list-item>
                    <div>
                        <p>
                        <a href="https://www.mw.tum.de/biovt/personen/msc-lukas-bromig/" title="Link to personal university website" target="_blank">Lukas Bromig</a> (
                        <a href="mailto:lukas.bromig@tum.de" title="Send me an E-mail!">
                        lukas.bromig@tum.de</a>) <br /> Research assistant at Technical University of Munich
                        </p>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <p>
                        David Leiter (<a href="mailto:david.leiter@tum.de" title="Send me an E-mail!">david.leiter@tum.de</a>>)
                        <br />Masters student at Technical University of Munich
                    </p>
                </mat-list-item>
                <mat-list-item>
                    <p>
                        Alexandru Mardale (<a href="mailto:david.leiter@tum.de" title="Send me an E-mail!">alexandru.mardale@tum.de</a>)
                        <br />Masters student at Technical University of Munich
                    </p>
                </mat-list-item>
            </mat-list>

        <h1>Resources</h1>
        <p>Check out the repository on GitLab:
        <!-- Will be moved to an open repository "gitlab.com/sila_device_manager" or maybe add to SiLA python repo-->
            <a href="https://gitlab.com/lukas.bromig/hugo">https://gitlab.com/lukas.bromig/hugo</a>
        </p>


        <p>
        You can find more information about SiLA2 here:
            <a href="https://gitlab.com/SiLA2">https://gitlab.com/SiLA2</a>
        </p>

        <p>
        The device manager implements the code of the SiLA2_python repository:
            <a href="https://gitlab.com/SiLA2/sila_python">https://gitlab.com/SiLA2/sila_python</a>
        </p>

        <h2> Disclaimer </h2>
        <p style="padding-bottom: 0.8em">
            This project was partially funded by the German Ministry of Education and Research (BMBF)
            through the project "DigInBio" (Grant-#: 031B0463B).
        </p>
            <p>
                Created @: <img class="logo-bar__img logo-bar__img--logo" alt="TUM – Technische Universität München" src="/typo3conf/ext/in2template/Resources/Public/Images/tum-logo.png" width="73" height="38">
            </p>
        <div style="padding-top: 15px; padding-bottom: 15px;">
        <a href="https://www.tum.de" title="Homepage Technische Universität München" target="_blank" class="logo-bar__link logo-bar__logo-link" >
            <object type="image/svg+xml" data="/typo3conf/ext/in2template/Resources/Public/Images/tum-logo.svg" class="logo-bar__img logo-bar__img--logo" alt="TUM – Technische Universität München" tabindex="-1" style="padding-left:15px;padding-right:15px">
                <svg height=150px viewBox="0 -25 100 100" xmlns="http://www.w3.org/2000/svg"><path d="M28 0v31h8V0h37v38h-7V7h-8v31h-7V7h-8v31H21V7h-7v31H7V7H0V0h28z" fill="#3070B3"/></svg>
           </object>
        </a>

        <a href="https://sila-standard.com" title="Homepage SiLA-Standard" target="_blank">
            <img src="https://sila-standard.com/wp-content/uploads/2017/08/Sila-logo-e1569233850781.png" height=60px style="padding-left: 15px; padding-right: 15px; padding-bottom: 55px;">
        </a>

        <a href="https://www.bmbf.de/" title="Homepage: Bundesministerium für Bildung und Forschung" target=""_blank>
            <img src="assets/img/BMBF_logo.png" alt="Logo Bundesministerium für Bildung und Forschung" height=145px style="padding-left: 15px; padding-right: 15px;">
        </a>
    </div>
        </mat-card>
</div>






