<mat-card>
    <div class="mat-card-header">
        <div class="mat-card-header-entry">
            <mat-card-header>
                <mat-card-title matTooltip="Data can only be written to registered databases.">Databases</mat-card-title>
            </mat-card-header>
        </div>
        <div class="mat-card-header-entry">
            <mat-card-actions>
                <button mat-icon-button color="primary" (click)="addDatabase()">
                    <mat-icon matTooltip="Add a new database to the list">add</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="refreshDatabases()">
                    <mat-icon matTooltip="Refresh the list of registered databases">refresh</mat-icon>
                </button>
            </mat-card-actions>
        </div>
    </div>

    <table
        mat-table
        [dataSource]="databasesSource"
        multiTemplateDataRows
        class="mat-elevation-z8"
    >
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Database name</th>
            <td mat-cell style="width: 40%" *matCellDef="let element">
                {{ element.database.name }}
            </td>
        </ng-container>

        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef>Address</th>
            <td mat-cell style="width: 10%" *matCellDef="let element">
                {{ element.database.address }}
            </td>
        </ng-container>

        <ng-container matColumnDef="port">
            <th mat-header-cell *matHeaderCellDef>Port</th>
            <td mat-cell style="width: 10%" *matCellDef="let element">
                {{ element.database.port }}
            </td>
        </ng-container>

        <ng-container matColumnDef="online">
            <th mat-header-cell *matHeaderCellDef>DB online</th>
            <td mat-cell style="width: 5%" *matCellDef="let element">
                {{ element.status.online }}
            </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell style="width: 15%" *matCellDef="let element">
                {{ element.status.status }}
            </td>
        </ng-container>
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell style="margin-right: 10%;" *matCellDef="let element; let i = dataIndex">
                <button mat-icon-button (click)="deleteDatabase(element.database)" >
                    <mat-icon matTooltip="Delete this database">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tableDatabaseColumns"></tr>
        <tr
            mat-row
            class="row"
            [class.expanded]="i === selected"
            *matRowDef="let row; columns: tableDatabaseColumns; let i = dataIndex"
        ></tr>
    </table>
</mat-card>

<mat-card>
    <div class="mat-card-header">
        <div class="mat-card-header-entry">
            <mat-card-header>
                <mat-card-title matTooltip="Device that can be configured for the data handler">Devices</mat-card-title>
            </mat-card-header>
        </div>
        <div class="mat-card-header-entry">
            <mat-card-actions>
                <button mat-icon-button color="primary" (click)="refreshDevices()">
                    <mat-icon matTooltip="Refresh the device list">refresh</mat-icon>
                </button>
            </mat-card-actions>
        </div>
    </div>
    <table
        mat-table
        [dataSource]="dataSource"
        multiTemplateDataRows
        class="mat-elevation-z8"
    >
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Device name</th>
            <td mat-cell style="width: 20%" [ngStyle]="
                        element.status.online
                            ? { background: '#F5F5F5' }
                            : { background: '#white' }
                    "
                *matCellDef="let element; let i = dataIndex" (click)="showDetails(i)">
                {{ element.device.name }}
            </td>
        </ng-container>

        <ng-container matColumnDef="database">
            <th mat-header-cell *matHeaderCellDef>Linked DB</th>
            <td mat-cell style="width: 20%" [ngStyle]="
                        element.status.online
                            ? { background: '#F5F5F5' }
                            : { background: '#white' }
                    "
                *matCellDef="let element">
                {{ element.database.name }}
            </td>
        </ng-container>

        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef>DB address</th>
            <td mat-cell style="width: 10%" [ngStyle]="
                        element.status.online
                            ? { background: '#F5F5F5' }
                            : { background: '#white' }
                    "
                *matCellDef="let element">
                {{ element.database.address }}
            </td>
        </ng-container>

        <ng-container matColumnDef="port">
            <th mat-header-cell *matHeaderCellDef>DB port</th>
            <td mat-cell style="width: 10%" [ngStyle]="
                        element.status.online
                            ? { background: '#F5F5F5' }
                            : { background: '#white' }
                    "
                *matCellDef="let element">
                {{ element.database.port }}
            </td>
        </ng-container>

        <ng-container matColumnDef="online">
            <th mat-header-cell *matHeaderCellDef>DB online</th>
            <td mat-cell style="width: 5%" [ngStyle]="
                        element.status.online
                            ? { background: '#F5F5F5' }
                            : { background: '#white' }
                    "
                *matCellDef="let element">
                <!-- The Online status of the database is needed here! -->
                <span

                    [ngStyle]="
                        element.status.online
                            ? { color: 'green' }
                            : { color: 'red' }
                    "
                >
                </span>
                <span
                    class="circle"
                    [ngStyle]="
                        element.status.online
                            ? { 'background-color': 'green' }
                            : { 'background-color': 'red' }
                    "
                >
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>DB status</th>
            <td mat-cell style="width: 15%" [ngStyle]="
                        element.status.online
                            ? { background: '#F5F5F5' }
                            : { background: '#white' }
                    "
                *matCellDef="let element">
                <!-- The Status of the database is needed here! -->
                {{
                element.status.length == 0
                    ? 'Unknown'
                    : element.database.status
                }}
            </td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell style="width: 10%" [ngStyle]="
                        element.status.online
                            ? { background: '#F5F5F5' }
                            : { background: '#white' }
                    "
                *matCellDef="let element; let i = dataIndex">
                <button mat-icon-button (click)="showDetails(i)">
                    <mat-icon matTooltip="Expand to view device detail">info</mat-icon>
                </button>
                <button mat-icon-button (click)="link(i)" >
                    <mat-icon matTooltip="Link a database to this device">link</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="data_transfer">
            <th mat-header-cell *matHeaderCellDef style="text-align: right">Data transfer</th>
            <td mat-cell [ngStyle]="
                        element.status.online
                            ? { background: '#F5F5F5' }
                            : { background: '#white' }
                    "
                *matCellDef="let element" style="text-align: right; padding-right: 46px">
                <mat-checkbox
                    [checked]="element.device.databaseActive"
                    (change)="setCheckboxDeviceLevel(element.device, element.device.databaseActive)"
                ></mat-checkbox>
                <!--[(ngModel)]="element.device.databaseActive"-->
            </td>
        </ng-container>
        <!-- Expanded Row-->
        <ng-container matColumnDef="expandedDetail">
            <td
                mat-cell
                *matCellDef="let element; let i = dataIndex"
                [attr.colspan]="tableDeviceColumns.length"
            >
                <div
                    class="expanded-element"
                    [@detailExpand]="selected === i ? 'expanded' : 'collapsed'"
                >
                    <div class="details">
                        <h2>Details</h2>
                        <p>UUID: {{ element.device.uuid }}</p>
                    </div>
                    <div class="features">

                        <div class="feature-elements"><h2>Features</h2></div>
                        <div class="feature-elements"></div>
                        <div class="feature-elements">Meta</div>
                        <div class="feature-elements">Active</div>
                    </div>
                    <div class="features">
                        <app-data-handler-device-detail
                            *ngIf="element.detailsLoaded"
                            [device]="element.device"
                        ></app-data-handler-device-detail>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tableDeviceColumns"></tr>
        <tr
            mat-row
            class="row"
            [class.expanded]="i === selected"
            *matRowDef="let row; columns: tableDeviceColumns; let i = dataIndex"
        ></tr>
        <tr
            mat-row
            class="expanded-row"
            *matRowDef="let row2; columns: ['expandedDetail']"
        ></tr>
    </table>
</mat-card>
