[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"

[packages]
numpy = "*"
sila2lib = "*"
pyserial = "*"
pandas = "*"
opcua = "*"
nose2 = "*"
zeroconf = "*"
influxdb = "*"
python-hosts = "*"
dacite = "*"
appdirs = "*"
filelock = "*"
fastapi = "*"
uvicorn = "*"
pyjwt = "*"
python-multipart = "*"
psycopg2 = "*"
apscheduler = "*"
msgpack = "*"
redis = "*"
aioredis = "*"
hiredis = "*"
docker = "*"
typing-extensions = "*"
websockets = "*"
protobuf = "*"
sphinx = "*"
sphinx-material = "*"
gunicorn = "*"
uvloop = "*"
httptools = "*"

[requires]
