[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"

[packages]
numpy = "*"
sila2lib = "*"
pyserial = "*"
pandas = "*"
opcua = "*"
nose2 = "*"
zeroconf = "0.28.0"
influxdb = "*"
python-hosts = "*"
dacite = "*"
appdirs = "*"
filelock = "*"
fastapi = "*"
uvicorn = "*"
pyjwt = "*"
python-multipart = "*"
psycopg2 = "*"
apscheduler = "*"
msgpack = "*"
redis = "*"
aioredis = "*"
hiredis = "*"
docker = "*"
typing-extensions = "*"
websockets = "*"
protobuf = "*"
sphinx = "*"
sphinx-material = "*"
gunicorn = "*"
uvloop = {version = "*", sys_platform = "== 'linux'"}
httptools = "*"
influxdb-client = "*"
dataclasses = "*"

[requires]
