.feature {
    display: flex;
    flex-direction: row;
    //max-width: 500px;
}
.content {
    flex-grow: 1;
}
.feature-name {
    font-size: 1.25em;
    padding-bottom: 0.5em;
}
.feature-description {
    color: rgba(0, 0, 0, 0.54);
}
.header {
    padding-bottom: 1em;
}
.section-title {
    font-size: 1em;
    font-weight: 500;
    padding-bottom: 0.5em;
}
.section-content {
    padding-left: 1em;
    padding-bottom: 2em;
    width: 100%;
}

a:hover{ border-bottom-width: 3px; border-bottom-color: #3c88d9; color: #3070b3; }

div.features {
    display: flex;
    flex-direction: row;
}
div.feature-elements {
    margin: auto;
    margin-left: 0;
    padding-right: 18px; //18
    font-size:12px;
    font-weight:500;
    font-family:Roboto, "Helvetica Neue", sans-serif;
    background:#fff;
    color: rgba(0,0,0,.54);
}
div.feature-elements:first-child {
    flex-grow: 4;
}
div.feature-elements:last-child {
    margin-right: 0;
    margin-left: 0;
    padding-left: 15px;
    padding-right: 15px;
}
div.feature-elements:nth-last-child(2) {
    margin-right: 0;
    margin-left: 15px;
    padding-left: 15px;
}
