<div class="page">
    <h1>Schedule</h1>
    <button mat-icon-button color="primary" (click)="add()">
        <mat-icon>add</mat-icon>
    </button>
    <!--<button
        mat-icon-button
        color="primary"
        mwlCalendarPreviousView
        [(viewDate)]="viewDate"
        [view]="view"
    >
        <mat-icon>chevron_left</mat-icon>
    </button>
    <button
        mat-icon-button
        color="primary"
        mwlCalendarNextView
        [(viewDate)]="viewDate"
        [view]="view"
    >
        <mat-icon>chevron_right</mat-icon>
    </button>
    -->
    <dx-scheduler
        [dataSource]="data"
        [views]="['Week', 'Month']"
        currentView="Month"
        [firstDayOfWeek]="0"
        [startDayHour]="0"
        timeZone="Europe / Berlin"
        [endDayHour]="23"
        [groups]="['device']"
        [currentDate]="viewDate"
        [height]="400"
        (onAppointmentDeleted)="delete($event)"
    >
        <dxi-view
            type="timelineWeek"
            name="Week"
            groupOrientation="vertical"
            [cellDuration]="60 * 6"
            [intervalCount]="1"
        ></dxi-view>
        <dxi-view
            type="timelineMonth"
            name="Month"
            groupOrientation="vertical"
            [intervalCount]="1"
        ></dxi-view>
        <dxo-editing
            #editingOptions
            [allowAdding]="false"
            [allowDeleting]="true"
            [allowUpdating]="false"
            [allowResizing]="false"
            [allowDragging]="false"
        ></dxo-editing>
        <dxi-resource
            fieldExpr="device"
            [allowMultiple]="false"
            [dataSource]="deviceNames"
            label="Device"
        ></dxi-resource>
        <dxi-resource
            fieldExpr="experiment"
            [allowMultiple]="false"
            [dataSource]="experimentNames"
            label="Experiment"
        ></dxi-resource>
        <dxi-resource
            fieldExpr="user"
            [allowMultiple]="false"
            [dataSource]="userNames"
            label="User"
        ></dxi-resource>
    </dx-scheduler>
</div>
