<h2 mat-dialog-title>Add New Service</h2>
<h3>Connect to Service</h3>
<form>
    <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput [(ngModel)]="serviceWorkCopy.parsed_ip_address" name="address" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Port</mat-label>
        <input matInput [(ngModel)]="serviceWorkCopy.port" name="port" />
    </mat-form-field>
    <button mat-icon-button (click)="toggleEncrypted()">
            <mat-icon *ngIf="!serviceWorkCopy.encrypted" matTooltip="Set Encrypted">lock_open</mat-icon>
            <mat-icon *ngIf="serviceWorkCopy.encrypted" matTooltip="Set Unencrypted">lock</mat-icon>
    </button>
</form>

<mat-dialog-actions>
    <button mat-flat-button color="primary" [mat-dialog-close]="serviceWorkCopy">
        Add
    </button>
    <button mat-button (click)="this.dialogRef.close()">
        Cancel
    </button>
</mat-dialog-actions>
