<div class="command">
    <div *ngIf="expand; else noExpand">
        <button mat-icon-button (click)="expand = false">
            <mat-icon>expand_more</mat-icon>
        </button>
    </div>
    <ng-template #noExpand>
        <button mat-icon-button (click)="expand = true">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </ng-template>
    <div class="content">
        <div class="header">
            <div class="checkbox-alignment">
                <div class="command-name" *ngIf="command.observable === false, else observable">{{ command.identifier }}</div>
                <ng-template #observable>
                    <div class="command-name">[observable] {{ command.identifier }}</div>
                </ng-template>
                <div class="checkbox-one">
                    <mat-checkbox
                        [checked]="command.meta"
                        [(ngModel)]="command.meta"
                        (change)="setCheckboxCommandLevel(uuid, featureId, command.id, command.meta, command.active,
                        command.polling_interval_meta, command.polling_interval_non_meta)"
                    >
                    </mat-checkbox>
                </div>
                <div class="checkbox-two">
                    <mat-checkbox
                        [checked]="command.active"
                        [(ngModel)]="command.active"
                        (change)="setCheckboxCommandLevel(uuid, featureId, command.id, command.meta, command.active,
                        command.polling_interval_meta, command.polling_interval_non_meta)"
                    >
                    </mat-checkbox>
                </div>
            </div>
            <div class="command-description">{{ command.description }}</div>
        </div>
        <div class="border" *ngIf="expand">
            <div class="section-title">Parameters</div>
            <div class="section-content">
                <div
                    class="param-border"
                    *ngFor="let param of command.parameters; index as i"
                >
                    <div class="params">
                        <div>
                            <div>
                        <span class="param-name">{{
                            param.identifier
                            }}</span>
                                <span class="param-type">{{ param.type }}</span>
                            </div>
                            <div class="param-desc">
                                {{ param.description }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-title">Responses</div>
            <div class="section-content">
                <div
                    class="param-border"
                    *ngFor="let response of command.responses"
                >
                    <div class="params">
                        <div>
                            <div>
                        <span class="param-name">{{
                            response.identifier
                            }}</span>
                                <span class="param-type">{{
                                    response.type
                                    }}</span>
                            </div>
                            <div class="param-desc">
                                {{ response.description }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="polling-input">
                    <!-- Use ngIf to distinguish the default value depending on meta or not meta data selection! -->
                    <ng-container *ngIf="command.meta; else elseBlock">
                        <mat-form-field style=" margin-left: 0">
                            <mat-label>Polling interval (meta)</mat-label>
                            <input matInput  [(ngModel)]="command.polling_interval_meta" placeholder="if: {{command.polling_interval_meta}} s" />
                        </mat-form-field>
                    </ng-container>
                    <ng-template #elseBlock>
                        <mat-form-field style=" margin-left: 0">
                            <mat-label>Polling interval (non-meta)</mat-label>
                            <input matInput  [(ngModel)]="command.polling_interval_non_meta" placeholder="else: {{command.polling_interval_non_meta}} s" />
                        </mat-form-field>
                    </ng-template>
                    <mat-card-actions style="margin-left: 20px">
                        <button
                            mat-flat-button color="primary"
                            (click)="setCheckboxCommandLevel(uuid, featureId, command.id, command.meta, command.active, command.polling_interval_meta, command.polling_interval_non_meta)">
                            Set
                        </button>
                    </mat-card-actions>
                </div>
            </div>
        </div>
    </div>
</div>

