<div class="feature">
    <div *ngIf="expand; else noExpand">
        <button mat-icon-button (click)="expand = false">
            <mat-icon>expand_more</mat-icon>
        </button>
    </div>
    <ng-template #noExpand>
        <button mat-icon-button (click)="expand = true">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </ng-template>
    <div class="section-content">
        <div class="header">
            <div class="feature-name">{{ feature.identifier }}</div>
            <div class="feature-description">{{ feature.description }}</div>
        </div>
        <ng-container *ngIf="expand">
            <p>Version {{ feature.feature_version }}</p>
            <div class="section-title">Commands</div>
            <div class="section-content">
                <div
                    class="list-entry"
                    *ngFor="let command of feature.commands"
                >
                    <app-device-command
                        [deviceUUID]="deviceUUID"
                        [featureIdentifier]="feature.identifier"
                        [command]="command"
                    ></app-device-command>
                </div>
            </div>
            <div class="section-title">Properties</div>
            <div class="section-content">
                <div
                    class="list-entry"
                    *ngFor="let property of feature.properties"
                >
                    <app-device-property
                        [deviceUUID]="deviceUUID"
                        [featureIdentifier]="feature.identifier"
                        [property]="property"
                    ></app-device-property>
                </div>
            </div>
        </ng-container>
    </div>
</div>
