.feature-tree-invisible {
    display: none;
}

.feature-tree ul,
.feature-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.node-name {
    //display: table-cell;
    //width: 15%;
}
.node-value {
    margin-left: 1em;
    //display: table-cell;
    //width: 85%;
}

.node-spacer {
    flex: 1 1 auto;
}
