<h2 mat-dialog-title>Edit Service</h2>
<form>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input
            matInput
            value="{{ serviceWorkCopy.name }}"
            [(ngModel)]="serviceWorkCopy.name"
            name="name"
        />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Address</mat-label>
        <input
            matInput
            value="{{ serviceWorkCopy.parsed_ip_address }}"
            [(ngModel)]="serviceWorkCopy.parsed_ip_address"
            name="address"
        />
    </mat-form-field>

    <mat-form-field>
        <mat-label>Port</mat-label>
        <input
            matInput
            value="{{ serviceWorkCopy.port }}"
            [(ngModel)]="serviceWorkCopy.port"
            name="port"
        />
    </mat-form-field>
</form>
<mat-dialog-actions>
    <button mat-flat-button color="primary" [mat-dialog-close]="serviceWorkCopy">
        Save
    </button>
    <button mat-button (click)="this.dialogRef.close()">
        Cancel
    </button>
</mat-dialog-actions>
