<h2>Database registration</h2>
<div class="add-database-form">
    <div class="forms" style="margin-right: 2em">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="databaseInfo.name" placeholder="schedulerDB" />
        </mat-form-field>
    </div>
    <div class="forms" style="margin-right: 2em">
        <mat-form-field>
            <mat-label>IP</mat-label>
            <input matInput [(ngModel)]="databaseInfo.address" placeholder="127.0.0.1" />
        </mat-form-field>
    </div>
    <div class="forms" style="margin-right: 2em">
        <mat-form-field>
            <mat-label>Port</mat-label>
            <input matInput [(ngModel)]="databaseInfo.port" placeholder="8888" />
        </mat-form-field>
    </div>
</div>
<mat-dialog-actions>
    <button mat-flat-button color="primary" [mat-dialog-close]="databaseInfo">
        Add
    </button>
    <button mat-button (click)="this.dialogRef.close()">
        Cancel
    </button>
</mat-dialog-actions>

