button.header {
    margin-left: 0;
}
button {
    margin-left: 8px;
}
.editor-body {
}
div.mat-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.mat-card-header-entry {
    margin: auto;
}
div.mat-card-header-entry:first-child {
    margin-left: 0;
}
div.mat-card-header-entry:last-child {
    margin-right: 1%;
}
