<h2 mat-dialog-title>Book Service</h2>
<form>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="bookingInfo.name" name="name" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Start</mat-label>
        <input matInput [(ngModel)]="bookingInfo.start" name="start" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>End</mat-label>
        <input matInput [(ngModel)]="bookingInfo.end" name="end" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Device</mat-label>
        <mat-select [(ngModel)]="bookingInfo.device" name="device">
            <mat-option *ngFor="let dev of devices" [value]="dev.uuid">
                {{ dev.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>
<mat-dialog-actions>
    <button mat-flat-button color="primary" [mat-dialog-close]="bookingInfo">
        Add
    </button>
    <button mat-button (click)="this.dialogRef.close()">Cancel</button>
</mat-dialog-actions>
