<div class="flex-container">
    <div class="flex-column">
        <h2>Exited</h2>
    </div>
    <div class="flex-column">
        <h2>Running</h2>
    </div>
    <div class="flex-column">
        <h2>Scheduled</h2>
    </div>
</div>

<div class="flex-container">
    <div class="flex-column">
        <mat-card class="example-card">
            <mat-card-title>Job 1</mat-card-title>
            <mat-card-content>
                My content
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Action 1</button>
                <button mat-button>Action 2</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="flex-column">
        <mat-card class="example-card">
            <mat-card-title>Job 2</mat-card-title>
            <mat-card-content>
                My content
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Action 1</button>
                <button mat-button>Action 2</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="flex-column">
        <mat-card class="example-card">
            <mat-card-title>Job 3</mat-card-title>
            <mat-card-content>
                My content
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Action 1</button>
                <button mat-button>Action 2</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
