<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>{{ title }}</span>
        <a class="headerbar-entry" mat-button [routerLink]="'/'"> Devices </a>
        <a class="headerbar-entry" mat-button [routerLink]="'/scheduler'">
            Schedule
        </a>
        <a class="headerbar-entry" mat-button [routerLink]="'/experiments'">
            Experiments</a
        >
        <a class="headerbar-entry" mat-button [routerLink]="'/scripts'">
            My Scripts</a
        >
        <a class="headerbar-entry" mat-button [routerLink]="'/dataHandler'">
            Data Handler
        </a>
        <a class="headerbar-entry" mat-button [routerLink]="'/log'"> Log </a>
        <a class="headerbar-entry" mat-button [routerLink]="'/about'">
            About
        </a>
        <div class="fill"></div>
        <a
            *ngIf="!loginService.loggedIn()"
            class="headerbar-entry"
            mat-button
            [routerLink]="'/login'"
        >
            Login
        </a>
        <a
            *ngIf="loginService.loggedIn() && loginService.isAdmin()"
            class="headerbar-entry"
            mat-button
            [routerLink]="'/adminArea'"
        >
            Admin Area
        </a>
        <a
            *ngIf="loginService.loggedIn() && !loginService.isAdmin()"
            class="headerbar-entry"
            mat-button
            [routerLink]="'/userArea'"
        >
            User Area
        </a>
        <a
            *ngIf="loginService.loggedIn()"
            class="headerbar-entry"
            mat-button
            (click)="loginService.logout()"
            [routerLink]="'/login'"
        >
            Logout
        </a>
    </mat-toolbar-row>
</mat-toolbar>
