[Unit]
Description=Sila2 Device Manager Scheduler
After=network.target

[Service]
User=device-manager
WorkingDirectory=/usr/device-manager
ExecStart=/usr/device-manager/scheduler.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
